<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="patrones.css">
    <title>Patrones de diseño</title>
</head>
<body>
    <header>
        <nav class="menu">
            <div class="cont-menu">
                <div class="cont-menu-item">
                    <a href="../Inicio.html" class="btn">Inicio</a>
                </div>
                <div class="cont-menu-item">
                    <a href="./Patrones.html" class="btn">Patrones de diseño</a>
                </div>
                <div class="cont-menu-item">
                    <a href="./SCRUM.html" class="btn">SCRUM</a>
                </div>
                <div class="cont-menu-item">
                    <a href="./sobreNosotros.html" class="btn">Acerca de nosotros</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="cont-definicion">
            <h1>¿Qué son los patrones de diseño?</h1>
            <p>Los patrones de diseño son soluciones generales reutilizables a problemas 
            comunes que ocurren durante el desarrollo de software. No son fragmentos de 
            código específicos, sino guías o plantillas que ayudan a organizar el código 
            de forma eficiente y escalable.</p>
        </div>
    </main>
    <footer>
        <div>
            Página desarrollada por el equipo 404 Team
        </div>
    </footer>
</body>
