<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/styles.css">
    <title>Teoría Básica IS</title>
</head>
<body>
    <header>
        <nav class="menu">
            <div class="cont-menu">
                <div class="cont-menu-item">
                    <a href="../Inicio.html" class="btn">Inicio</a>
                </div>
                <div class="cont-menu-item">
                    <a href="./Patrones.html" class="btn">Patrones de diseño</a>
                </div>
                <div class="cont-menu-item">
                    <a href="./SCRUM.html" class="btn">SCRUM</a>
                </div>
                <div class="cont-menu-item">
                    <a href="./sobreNosotros.html" class="btn">Acerca de nosotros</a>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <h1>Insertar algo de IS</h1>
        
    </div>
    <footer>
        <div>
            Página desarrollada por el equipo < insertar nombre de equipo >
        </div>
    </footer>
</body>
</html>